* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
}

/* Side navigation menu*/
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  /* background-color: rgb(209, 209, 209); */
  position: fixed;
  overflow: auto;
  font-family: raleway;
  justify-content: center;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px 30px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: rgb(225, 241, 247);
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: rgb(200, 230, 240);
}

/* Page content. Margin-left corresponds to width of sidebar */
div.content {
  margin-left: 200px;
  margin-right: 200px;
}

/* Make sidebar a topbar on screens that are less than 700px */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

.introSection {
  min-height: 100vh;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.introSection h1 {
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 7em;
  margin: 20px;
}

.introSection h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}

.whiteSection {
  box-sizing: border-box;
  padding: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-start: ;
}

.whiteSection h1 {
  font-family: "Courier New", Courier, monospace;
  color: lightblue;
  font-size: 3em;
  margin: 30px;
}

.art {
  /* background-color: lightcoral; */
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.blueSection {
  box-sizing: border-box;
  padding: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.blueSection h1 {
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 3em;
  margin: auto;
  margin-bottom: 50px;
}

img {
  max-width: 400px;
  max-height: auto;
}
